$color-primary: rgb(0, 0, 0, 0.9);
$color-primary-variant: rgba(0, 0, 0, 0.8);
$color-text: rgb(9, 9, 11);
$color-text-muted: hsl(240 3.8% 46.1%);
$color-success: #12c069;
$color-success-variant: #10b663;

$body-background: #d9d9d9;

$overlay-background: rgba(0, 0, 0, 0.8);

$breakpoint-desktop-max: 1024px;
$breakpoint-desktop-min: 1025px;
