@import "@/styles/variables.scss";

.wrapper {
  display: flex;
  flex-direction: column;

  @media (min-width: $breakpoint-desktop) {
    flex-direction: row;
  }
}

.main {
  height: calc(100vh - 60px);
  padding: 1rem;
  margin-top: 60px;
  flex: 1;
  overflow: auto;

  @media (min-width: $breakpoint-desktop) {
    height: 100vh;
    margin-top: 0;
  }
}

.container {
  max-width: 1024px;
  margin: 0 auto;
  padding-bottom: 3rem;
}
