@import "@/styles/variables.scss";
@import "@/styles/functions/rem.scss";

.paragraph {
  margin: 0;
  line-height: 1.75;
}

.normalWeight {
  font-weight: 400;
}

.mediumWeight {
  font-weight: 500;
}

.boldWeight {
  font-weight: 700;
}

.normalVariant {
  color: $color-text;
}

.mutedVariant {
  color: $color-text-muted;
}

.sizeNormal {
  font-size: rem(16);
}

.sizeSmall {
  font-size: rem(14);
}
