@import "@/ui/styles/variables.scss";

.container {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;

  & svg {
    fill: $color-text-muted;
    font-size: 62px;
    margin-bottom: 1.625rem;
  }
}

.message {
  margin: 0;
  color: $color-text-muted;
  font-size: 0.875rem;
  font-weight: 500;
}
