@import "@/styles/variables.scss";

.container {
  display: inline-flex;
  align-items: center;
  background: transparent;
  border: 0;
  padding: 0;
  font-weight: 500;
  gap: 0.5rem;
  cursor: pointer;
  margin-top: 2.5rem;
  color: $color-text;
  text-decoration: none;

  & svg {
    font-size: 1.3rem;
  }
}
