@import "@/styles/variables";

.subContainer {
  background: rgba(0, 0, 0, 0);
  display: none;
  margin-left: 1.72rem;
}

.subContainerOpen {
  display: block;
}

.link {
  text-align: left;

  & svg:last-child {
    transform: rotate(0);
  }
}

.sublink {
  font-size: 13px !important;
}

.linkActive {
  & p {
    color: black;
  }

  & svg {
    color: black !important;
  }
}

.isOpen {
  & p {
    color: black;
  }

  & svg {
    color: black !important;
  }

  & svg:last-child {
    transform: rotate(180deg);
  }
}
