@import "@/styles/variables.scss";

.container {
  position: fixed;
  height: 100vh;
  width: 100%;
  left: 0;
  top: 0;
  visibility: hidden;

  @media (min-width: $breakpoint-desktop-min) {
    visibility: visible;
    position: static;
    width: initial;
  }
}

.sideNav {
  max-width: 16.25rem;
  min-width: 16.25rem;
  width: 100%;
  background: white;
  box-shadow: 0 0 #0000, 0 0 #0000, 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  border-right: 1px solid #e5e7eb;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 3;
  transition: 0.3s;
  position: relative;
  display: flex;
  flex-direction: column;

  @media (max-width: $breakpoint-desktop-max) {
    position: absolute;
    left: -16.25rem;
  }
}

.overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
  z-index: 2;
  opacity: 0;
  transition: 0.3s;
  visibility: hidden;

  @media (min-width: $breakpoint-desktop-min) {
    display: none;
  }
}

.isOpen {
  visibility: visible;

  & .sideNav {
    left: 0;
  }

  & .overlay {
    opacity: 1;
    visibility: visible;
  }
}

.static {
  position: static;
  left: 0;
}

.linkLabel {
  margin: 0;
  line-height: 0;
  color: rgba(0, 0, 0, 0.6);
  flex: 1;
}

.link {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  padding: 1rem 1.2rem;
  text-decoration: none;
  font-weight: 600;
  font-size: 0.875rem;
  width: 100%;
  background: transparent;
  outline: 0;
  border: 0;
  cursor: pointer;

  & svg {
    color: #0000004d;
    font-size: 16px;

    &:last-child {
      font-size: 20px;
    }
  }

  &:hover {
    & .linkLabel {
      color: black;
    }

    & svg {
      color: black;
    }
  }
}

.linkActive {
  & .linkLabel {
    color: black;
  }

  & svg {
    color: black;
  }
}

.houseButton {
  position: absolute;
  bottom: 0;
}

.image {
  margin-left: -4px;
}

.header {
  padding: 1.3rem 1.2rem;
  margin-bottom: 2rem;
}

.brand {
  margin: 0;
  font-weight: 700;
  color: black;
  font-size: 2rem;
}

.profileInfo {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  padding: 1rem 1.2rem;

  & p {
    margin: 0;
    font-size: 0.875rem;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.6);
  }

  & a {
    color: rgba(0, 0, 0, 0.6);

    &:hover {
      color: black;
    }
  }
}

.profileInfoImage {
  border-radius: 50%;
}

.nav {
  flex: 1;
}
