@import "@/styles/mixins.scss";

.form {
  @include paper;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-bottom: 2rem;

  @media (min-width: 768px) {
    padding: 1.5rem;
  }
}

.actions {
  display: flex;
  justify-content: flex-end;

  & button {
    width: 100%;
  }

  @media (min-width: 768px) {
    & button {
      width: initial;
    }
  }
}

.inputGrid {
  display: grid;
  gap: 2rem;

  @media (min-width: 820px) {
    grid-template-columns: repeat(2, 1fr);
  }
}
