@import "@/styles/variables.scss";

.table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 1rem;
  background-color: transparent;
  border-collapse: collapse;
  margin-bottom: 0;

  & thead th {
    vertical-align: bottom;
    border-bottom: 1px solid rgb(228, 228, 231);
    text-align: left;
    font-weight: 600;
    font-size: 0.875rem;
    vertical-align: middle;
    color: $color-text-muted;
  }

  & td {
    border-top: 1px solid rgb(228, 228, 231);
    font-size: 0.875rem;
    color: $color-text;
  }

  & th,
  & td {
    padding: 0 1rem;
    height: 3rem;
    vertical-align: middle;
  }
}

.wrapper {
  overflow: auto;
}
